<section class="section-hero">
  <div class="container hero-container">
    <div class="hero-text">
      <h1 class="hero-title">organic vegetables to your diet today!</h1>
      <p class="hero-descr">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
    </div>
    <button id="start-button">Увесці Дадзеныя</button>

    <section id="input-section" style="display: none;">
      <h2>Увод Дадзеных</h2>

      <!-- Каляндар -->
      <label for="date-input">Выберыце дату:</label>
      <input type="date" id="date-input">

      <div id="input-fields-section">
        <h3>Увядзіце значэнні для параметраў:</h3>
        <form id="parameters-form" class="input-grid">
          <div>
            <label for="param1">Параметр 1:</label>
            <input type="text" id="param1" name="parameter" placeholder="0.00">
          </div>
          <div>
            <label for="param2">Параметр 2:</label>
            <input type="text" id="param2" name="parameter" placeholder="0.00">
          </div>
          <div>
            <label for="param3">Параметр 3:</label>
            <input type="text" id="param3" name="parameter" placeholder="0.00">
          </div>
          <div>
            <label for="param4">Параметр 4:</label>
            <input type="text" id="param4" name="parameter" placeholder="0.00">
          </div>
          <div>
            <label for="param5">Параметр 5:</label>
            <input type="text" id="param5" name="parameter" placeholder="0.00">
          </div>
          <div>
            <label for="param6">Параметр 6:</label>
            <input type="text" id="param6" name="parameter" placeholder="0.00">
          </div>
          <div>
            <label for="param7">Параметр 7:</label>
            <input type="text" id="param7" name="parameter" placeholder="0.00">
          </div>
          <div>
            <label for="param8">Параметр 8:</label>
            <input type="text" id="param8" name="parameter" placeholder="0.00">
          </div>
          <div>
            <label for="param9">Параметр 9:</label>
            <input type="text" id="param9" name="parameter" placeholder="0.00">
          </div>
          <div>
            <label for="param10">Параметр 10:</label>
            <input type="text" id="param10" name="parameter" placeholder="0.00">
          </div>
        </form>
        <button id="save-button">Запісаць</button>
      </div>
    </section>

    <section id="actions-section" style="display: none;">
      <button id="view-analysis">Паглядзець аналіз</button>
      <button id="input-another-day">Запісаць іншы дзень</button>
    </section>
  </div>
</section>