<!-- Section How-it-works -->
<section class="order-section" id="how-it-works">
  <div class="container order-container">
    <div class="order">
      <h2 class="content-title">
        TO ORDER YOUR <span class="highlight">VEGETABLE</span> BASKET, SIMPLY
        FOLLOW THESE <span class="highlight">EASY STEPS</span>
      </h2>
      <p class="content-description">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh vegetables without ever
        leaving your home.
      </p>
    </div>

  </div>


</section>