.section-hero {
  position: relative;
  background-color: rgba(87, 111, 53, 0.6);
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.hero-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.hero-text {
  padding: 230px 32px 100px 32px;
}
.hero-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 52px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  margin-bottom: 20px;
  text-align: center;
}
.hero-descr {
  margin-bottom: 52px;
  text-align: center;
}
button {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#input-section,
#actions-section {
  margin-top: 20px;
}
.input-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 слупкоў */
  gap: 20px; /* Адлегласць паміж блокамі */
}

.input-grid div {
  display: flex;
  flex-direction: column; /* Лэйбл над інпутам */
  align-items: flex-start; /* Выраўноўванне па левым боку */
}
.hint {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none; /* Паказваем пры памылках */
}
