.order-section {
  background-color: #7a3145;
}

.content-title {
  width: 100%;
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
  text-align: center;
}
.order {
  padding: 100px 0;
  margin: 0 auto;
}
.highlight {
  color: #d4bfc4;
}

.content-description {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;
  margin-bottom: 40px;
  text-align: center;
}
